{block content}
	<h1>All users:</h1>

	{foreach $users_data as $user_data}
		<div class="post">
			<div class="date">{$user_data->username}</div>
			<h2>{$user_data->username}</h2>
			<div>{$user_data->password|truncate:256}</div>
			<div>{$user_data->email|truncate:256}</div>
		</div>
	{/foreach}
{/block}
